In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\acer\Desktop\SEM 6 PPTS\MLL\diabetes.csv')

In [4]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
temp = pd.DataFrame({
    "Name":['Abc',"PQR", np.nan,"XYZ"],
    "Roll No":[1,np.nan,3,4]
})

In [6]:
temp

  Name  Roll No
0  Abc      1.0
1  PQR      NaN
2  NaN      3.0
3  XYZ      4.0

In [7]:
print(df.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [8]:
df = pd.read_csv(r'C:\Users\acer\Desktop\SEM 6 PPTS\MLL\adult.csv')

In [23]:
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [9]:
print(df['marital-status'].unique())

['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']

In [10]:
print(df['education'].unique())

['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']

In [11]:
df['education'] = df['education'].replace('Preschool','dropout')
df['education'] = df['education'].replace('10th','dropout')
df['education'] = df['education'].replace('11th','dropout')
df['education'] = df['education'].replace('12th','dropout')
df['education'] = df['education'].replace('1st-4th','dropout')
df['education'] = df['education'].replace('5th-6th','dropout')
df['education'] = df['education'].replace('7th-8th','dropout')
df['education'] = df['education'].replace('9th','dropout')
df['education'] = df['education'].replace('HS-Grad','HighGrad')
df['education'] = df['education'].replace('HS-Grad','HighGrad')
df['education'] = df['education'].replace('Some-College','CommunityCollege')
df['education'] = df['education'].replace('Assoc-acdm','CommunityCollege')
df['education'] = df['education'].replace('Assoc-voc','CommunityCollege')
df['education'] = df['education'].replace('Bachelors','Bachelors')
df['education'] = df['education'].replace('Masters','Masters')
df['education'] = df['education'].replace('Prof-school','Masters')
df['education'] = df['education'].replace('Doctorate','Doctorate')

In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [13]:
lbl_encoder = LabelEncoder()
df['education'] = lbl_encoder.fit_transform(df['education'])